*~

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# scala 3
.tasty

# sbt
project/project/
project/
project/target/
target/

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache-main

#general
*.class

docker/data/*

docker/jars/*
!docker/jars/gcs-connector-hadoop3-latest.jar
!docker/jars/spark-sql-perf_2.12-0.5.1-SNAPSHOT.jar

work-dir/
.venv
data/.tmp
**/.tmp
